{
  "singleQuote": true,
  "semi": false,
  "trailingComma": "none",
  "vueIndentScriptAndStyle": true,
  "tabWidth": 2,
  "useTabs": false,
  "printWidth": 80,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "auto",
  "quoteProps": "preserve",
  "insertFinalNewline": true,
  "tabOffset": 2
}
